<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>

    <add key="Issuer" value="OU=SDC, CN=JYT-CA, E=jytca@sdc.capinfo.com.cn, O=CAPINFO, L=Beijing, S=Beijing, C=CN"/>
  </appSettings>
</configuration>